<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisualAlgos</title>
</head>
<body>
    <div class="options">
        <div>
            <li>
                <ul>
                    <a href="">
                        <button>Data Structures</button>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <button>Algorithms</button>
                    </a>
                </ul>
                <ul>
                    <a href="">
                        <button>Sorting Algorithms</button>
                    </a>
                </ul>
            </li>
        </div>
    </div>
</body>
</html>